[2020-08-09 02:58] Itaybre opened #1 "Microsoft HD 3000 not working"
Reported on reddit: [link](https://www.reddit.com/r/apple/comments/i67ok2/cameracontroller_a_macos_app_to_control_your/g0uoqvd?utm_source=share&utm_medium=web2x)

[2020-08-10 13:54] Itaybre opened #2 "Swift Code Optimization Breaks the App"
Find why Swift Code Optimization breaks the app

Probably related to the pointer logic

[2020-08-10 14:21] codetheweb opened #3 "Not working with Logitech C615"
I have a Logitech C615 webcam. If it's plugged in before starting the app, the app launches but never displays the settings window. If I launch the app before plugging it in, it shows the settings window but freezes up as soon as I plug it in.

Thanks for all the time you've put into this, I really appreciate it as I haven't been able to find a good macOS camera settings app.

[2020-08-10 17:15] Itaybre commented on #3
Thanks for the report, may I know if you tried with the latest version 1.1 or the previous one 1.0?

Does the app crash after freezing?

[2020-08-10 23:03] codetheweb commented on #3
It's 1.1.

It does not crash after freezing, but does pin the CPU at 100% until I force it to quit.

[2020-08-11 00:43] Itaybre commented on #3
Probably got stuck [here](https://github.com/Itaybre/CameraController/blob/master/CameraController/UVC/Extensions/IOUSBConfigurationDescriptorPtr%2BUVC.swift#L25)

Can I ask you to run the app from the source code and check where it got stuck?
The output of `ioreg -p IOUSB -w0 -l` will also help

[2020-08-11 01:14] codetheweb commented on #3
Here's the output when starting with the camera plugged in:

[code]

Output of `ioreg -p IOUSB -w0 -l` (I went ahead and removed everything that didn't seem relevant):

[code]

Also recorded a trace in Instruments of the CPU being pinned at 100%:

[Instruments.trace.zip](https://github.com/Itaybre/CameraController/files/5054234/Instruments.trace.zip)

Hope that helps!

[2020-08-11 03:08] Itaybre commented on #3
Just found a tool to get good USB Description [USB Prober.zip](https://github.com/Itaybre/CameraController/files/5054537/USB.Prober.zip) (It is not signed but It was made by Apple at OS X 10.9 era)

Please send me the output you get from there, this should be the last log I need, because I will be able to manually run the code with this.

You can see the save output inside Bus Probe -> Top Right
<

[2020-08-11 14:23] codetheweb commented on #3
[USB Bus Probe.txt](https://github.com/Itaybre/CameraController/files/5057488/USB.Bus.Probe.txt)

[2020-08-11 15:12] Itaybre commented on #3
I think I found the reason and why it didn't happen on my machine. I wasn't advancing the iterator when skipping non relevant interfaces, thus creating a loop. And this never happened on my cameras because the first interface was the correct one for all my devices.

Can you try this version? [CameraController.zip](https://github.com/Itaybre/CameraController/files/5057726/CameraController.zip)

[2020-08-11 16:03] codetheweb commented on #3
It doesn't crash/freeze now. 👍
I can see the camera preview, but cannot change any of the settings.

![Screen Shot 2020-08-11 at 11 03 06 AM](https://user-images.githubusercontent.com/7410405/89920629-3f475800-dbc2-11ea-81d2-50520200c9eb.png)

[2020-08-12 01:41] Itaybre commented on #3
Reading the USB Standard again, it seems I was missing the Interface ID on the requests to the device.
Because it was 0 for me, it never failed, but in your case it is 2
[CameraController.zip](https://github.com/Itaybre/CameraController/files/5060166/CameraController.zip)

[2020-08-12 01:42] Itaybre commented on #3
@codetheweb Forgot to mention, can you try the attached build?
I hope it works, if not, I will have to get a similar camera

[2020-08-12 01:57] codetheweb commented on #3
It works great now, thank you so much!

[2020-08-12 01:57] #3 closed

[2020-08-12 01:58] Itaybre commented on #1
Should have been fixed with #3

[2020-08-12 01:58] #1 closed

[2020-08-13 03:17] Itaybre opened #5 "App Icon"
Every great app has an Icon 💪

[2020-08-13 03:21] Itaybre opened #6 "Menu Bar Settings"

[2021-03-03 07:49] MatanRubin opened #7 "Can't reopen UI after closing it"
**Describe the bug**
After closing the UI (using Cmd+W or hitting the red X button), there's no way to reopen it. Clicking the app icon does nothing, while I expected it to reopen the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Close the UI using Cmd+W
3. Click the app icon in the Dock
4. Nothing happens

**Expected behavior**
The UI reopens.

**Desktop (please comple

[2021-03-04 16:27] Itaybre commented on #7
@MatanRubin thanks for the report, will take a look

[2021-05-11 18:41] herrerajeff opened #8 "App Icon"
I've been looking for something like this for so long! I'm a designer and have been searching forever. Saw you needed an app icon, so I made one as a thank you!

Jeff Herrera
[jeffreyherrera.com](https://www.jeffreyherrera.com) | [twitter](https://www.twitter.com/isthatjeff) | [linkedin](https://www.linkedin.com/in/jeffrey-herrera)

<img width="658" alt="image" src="https://user-images.githubuserc

[2021-05-20 09:06] nomasprime opened #9 "Push and read settings"
Everything's very intuitive except I'm not sure what these settings are for. I'd guess it's something to do with OS interference but not sure or how to use them?

PS Third party camera with Apple was painful. Thank you so much for this app 👍

[2021-05-31 12:48] Itaybre commented on #8
Thanks, it looks great, I will change it ASAP

Could you also create a matching icon for the status bar?

[2021-06-06 16:50] Itaybre commented on #9
I am glad you are enjoying Camera Controller.

Some cameras may update its values using a remote controller or through automatic procedures (like brightness or exposure), Read and Push Settings are meant to provide a "up to date" value from the Camera and force values set from the app.

I will try to add a helper so future users can get a better idea about the options.

[2021-06-07 20:45] herrerajeff commented on #8
Status bar had to be a bit simpler but here we are:

<img width="339" alt="image" src="https://user-images.githubusercontent.com/13124809/121085380-c5670780-c7af-11eb-933b-cd6924710671.png">

[Camera Controller Menu Icon.zip](https://github.com/Itaybre/CameraController/files/6611923/Camera.Controller.Menu.Icon.zip)

[2021-07-08 14:30] scottio200 opened #11 "Dell UltraSharp Webcam (WB7022) Causes app to quit on launch"
Please enter the following data:

Brand: Dell
Camera: WB7022
Have you tried many USB ports? Yes

App quits on launch with the camera connected, if I unplug camera app loads, as soon as I connect it again the app will quit.

[2021-07-08 18:00] Itaybre commented on #11
Thanks for the report @scottio200, do you have the crash log?

[2021-07-14 07:34] scottio200 commented on #11
`Process:               CameraController [90403]
Path:                  /Volumes/VOLUME/*/CameraController.app/Contents/MacOS/CameraController
Identifier:            com.itaysoft.CameraController
Version:               1.2 (3)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           CameraController [90403]
User ID:               501

Date/Time:             2021

[2021-07-14 16:02] Itaybre commented on #11
@scottio200 as I thought, it crashing while browsing the Camera Information.
Can you share me full USB descriptor of your machine? Seems like this camera descriptor is different from the ones I tested.
You can use the attached app (it is not signed because I extracted it using this guide: https://superuser.com/a/814339)
This will help me find the problem

![Untitled copy](https://user-images.githu

[2021-07-15 15:16] scottio200 commented on #11
[USB Bus Probe.txt.zip](https://github.com/Itaybre/CameraController/files/6824242/USB.Bus.Probe.txt.zip)

USB Probe attached

[2021-07-15 18:05] Itaybre commented on #11
I think I found the problem, can you try this build?
[CameraController.zip](https://github.com/Itaybre/CameraController/files/6825344/CameraController.zip)

[2021-07-16 07:31] scottio200 commented on #11
That is working, thanks a lot!

[2021-07-16 07:31] #11 closed

[2021-07-19 00:02] ThomasWaldmann opened #12 "Support Apple Silicon (M1 cpu)?"
Thanks for providing this app - found it while searching for a free app that just shows the picture of a camera.

As it is, it somehow works (shows the camera live picture) on a Macbook Air 2020 (M1), but tends to be a bit slow as it is translated for the M1 first. Guess this could be fixed by recompiling.

I tested it with:
- builtin Apple facetime camera
- Teslong USB microscope

Notable: all th

[2021-07-19 18:32] Itaybre commented on #12
@ThomasWaldmann I will compile it for M1 in the next version.

And regarding to all the sliders being disabled, it is due to special permissions required to interact with Apple hardware, it should work fine with USB cameras (happens with all Macs with T1, T2 and M1 chips)

[2021-07-19 20:58] ThomasWaldmann commented on #12
Great, thanks!

About the sliders: they did not work with my USB camera either.

[2021-08-09 05:18] UziKhana opened #13 "Big Sur 11.5 unable to launch app after download"
Expected behaviour:
1. download app
2. launch app
3. get third party app warning/caution note
4. goto Settings > Security & Privacy and click Open Anyway
5. app opens

What is happening:

1. download app
2. launch app
3. get third party app warning/caution note
4. get CameraController quit unexpectedly message (see screenshot)

![Screen Shot 2021-08-09 at 09 11 49 AM](https://user-images.githubuse

[2021-08-11 16:52] Itaybre commented on #13
@UziKhana thanks for the ticket, may I know which camera are you using?

Can you also try this build: https://github.com/Itaybre/CameraController/files/6825344/CameraController.zip ?
This one has a fix for some cameras

[2021-08-12 19:37] maishsk opened #14 "App does not save profiles after Auit"
**Describe the bug**![Screenshot_2021-08-12 22 36 32_C0KPM4](https://user-images.githubusercontent.com/1918139/129258157-45220b3b-959e-4347-9d80-309d93fcbc2b.png)When I close the app, the profiles that I saved are deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Camera Controller
2. Make some changes to the settings
3. Save profile - "My profile"
4. Apply "My profile" -> Setting

[2021-08-13 00:54] affrae opened #15 "macOS Monterey all settings greyed out"
**Describe the bug**

in macOS Monterey all settings greyed out

**To Reproduce**
Steps to reproduce the behavior:
1. Launch app
2. Choose your camera

**Expected behavior**
Able to set settings for the camera

**Screenshots**

**_Note: camera does show up I have just blacked out the camera image._**

![Screen Shot 2021-08-13 at 10 49 11 am](https://user-images.githubusercontent.com/745341/1292880

[2021-08-20 14:13] Itaybre commented on #15
@affrae I would like to see the USB Descriptor for this camera.
Can you share it using [this](https://github.com/Itaybre/CameraController/issues/11#issuecomment-880016985) method?

[2021-08-22 23:22] affrae commented on #15
@Itaybre Here you go - hope this helps!

[USB Bus Probe.txt](https://github.com/Itaybre/CameraController/files/7028315/USB.Bus.Probe.txt)

[2021-08-23 03:39] #8 closed

[2021-08-23 03:39] #5 closed

[2021-08-23 03:47] #7 closed

[2021-08-23 04:33] Itaybre commented on #12
Just release v1.3: https://github.com/Itaybre/CameraController/releases/tag/1.3
It adds Apple Silicon arch

[2021-08-23 04:33] #12 closed

[2021-08-23 04:33] Itaybre commented on #13
Should be fixed on [1.3](https://github.com/Itaybre/CameraController/releases/tag/1.3)
Please reopen if not fixed

[2021-08-23 04:33] #13 closed

[2021-08-23 06:01] UziKhana commented on #13
Hey thanks for taking this on. I shall try shortly. I am using Dell 4k ultrasharp camera (sorry I missed responding to your earlier message).

[2021-08-23 06:19] UziKhana commented on #13
Still getting this, I have a also tried CamLink 4k

![Screen Shot 2021-08-23 at 10 03 07 AM](https://user-images.githubusercontent.com/69767649/130399647-3fe707dd-eef4-457d-942c-857df5ce4920.png)

[2021-08-23 19:35] Itaybre commented on #14
I could not reproduce this bug, but I will keep trying

[2021-08-24 03:34] Itaybre commented on #15
The descriptor seems to be fine, I will be testing this on a VM this weekend and already found a provider for the webcam locally in case the issue is with the camera and not Monterey

[2021-08-24 03:34] affrae commented on #15
Wow - thank you!!

[2021-08-24 05:34] enquora commented on #15
The problem occurs with a Microsoft Lifecam also - it’s Monterey rather than any specific camera.

[2021-08-24 13:14] maishsk commented on #14
Update from my side, I restarted the Mac, and now it saves settings, could be one of those weird edge cases

[2021-08-25 09:04] tfpbatelaan commented on #15
Hey there, this also occurs on Big Sur on my 15-inch mid-2015 Macbook Pro. It doesn't even work with the built-in!

[2021-08-25 13:01] Itaybre commented on #15
That's expected behavior with built-in camera, apple doesn't allow low level communication with it

[2021-08-31 18:50] bkboy21 commented on #15
hey , im using a mac mini and this webcam :
https://www.amazon.com/dp/B08DXSG5QR/ref=cm_sw_r_apan_glt_fabc_XKFH6SSFZXRYQSP0XB7P?_encoding=UTF8&psc=1

all settings work but pan\zoom\tilt wont work . anything we can do about that ?
thank you for your contribution !!!!

[2021-08-31 21:08] affrae commented on #15
I should point out that LogiTune is not working either, so we may need to be patient here as it could be an underlying Beta issue, or require some rework generally.

[2021-09-01 08:08] globau opened #19 "Add ability to adjust a setting by setting a value explicitly rather than with a slider"
Sometimes I want to set a control to a specific value; right now this isn't possible as there's no way to either see or set the value of a control.

Webcam Settings does this by changing the widget from a slider to a text field when you click on a field's label:

<img width="379" alt="Screen Shot 2021-09-01 at 4 07 57 pm" src="https://user-images.githubusercontent.com/872825/131635930-0e2ca05b-f5c

[2021-09-01 08:12] globau opened #20 "Add a way to reset values to the default"
After playing around with settings there's no easy way to reset back to their default values.

For the image settings (brightness, contrast, etc) that isn't too bad you can approximately set them to a 50% value (see also #19).
However, for some other controls the default value isn't obvious.

[2021-09-01 14:05] Itaybre commented on #20
You can use the Camera Default preset to restore all values, but not for a single one.

Seems like a good enhancement, added to 1.4

[2021-09-02 11:19] apobst83 commented on #15
+1 on the greyed out sliders in monterey. I am using a Dell Ultrasharp 4k Webcam.

[2021-09-13 20:32] jrykner commented on #15
+1 with latest Mac OS12 Beta 6, greyed out sliders, with logitech c922 webcam, it does recognize and preview, on Mac M1 but all options are greyed out

[2021-09-22 14:25] mattiasstahre commented on #15
+1 All settings are greyed out. I'm on Beta 7

[2021-09-30 15:26] benblb opened #22 "Brightness can only be increased, not decreased"
**Describe the bug**
Unable to reduce camera brightness, but I can increase it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to basic settings
2. Click on brightness
3. Drag slider all the way to the left
4. See "normal" brightness.

**Expected behavior**
Ability to decrease brightness in addition to increasing. Image should get darker than the cam's default.

**Desktop (please complet

[2021-10-04 17:29] geftactics opened #23 "CLI mode?"
Great to see an app under active development that's providing this functionality.

I have a Logitech StreamCam, and am in the UK - so 50Hz power, but the camera defaults to 60Hz each time it's reconnected, so I end up with lines all over my face. Using this app, I can set the camera to 50Hz, but I have to manually do this all of the time.

Is it possible to control the app via command line? For ex

[2021-10-05 03:17] Itaybre commented on #23
It is not a bad idea, I have planned to add an option to apply a saved profile when connecting a camera, but didn't had time to implement it

[2021-10-05 19:51] don-sch commented on #15
+1 Any updates on this? I'm on beta 12. No worries if you're still figuring this one out.

[2021-10-12 10:28] bstrand opened #24 "Sliders do not reliably display/apply active setting when switching Auto mode on/off"
**Description**
There are two aspects to this issue. Depending on what the desired behavior is,
1. When one switches 'auto' mode from off to on, the sliders for the controlled settings are not updated to reflect the active value.
2. When auto mode is switched from on to off and the indicated setting on the slider is different from the active, auto-set value, the indicated setting is not applied. (

[2021-10-25 03:14] Astroman opened #25 "Zoom/Tilt/Pan greyed out"
**Describe the bug**
All controls work as expected except that zoom, tilt, and pan are greyed out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced tab
2. Click on Zoom slider, etc
3. Nothing happens

**Expected behavior**
I expected to control the zoom level

**Desktop (please complete the following information):**
 - MacOS 11.6 on M1 Mac Mini
 - EACH CA602 web cam (https://ww

[2021-10-27 18:46] #25 closed, assigned to itaybre

[2021-10-31 04:25] Itaybre commented on #22
@benblb I have not been able to reproduce this, can you submit a demo of the issue?

[2021-10-31 21:49] Itaybre commented on #15
Fix merged, working on another fix and will upload a new build

[2021-10-31 21:49] #15 closed

[2021-10-31 21:55] affrae commented on #15
Thank you, sir! Without me pitching the feature, you should look into sponsorship 😈

[2021-11-01 11:13] olsw commented on #15
Latest build failed so can't get this version, could you take a look please

[2021-11-01 13:23] Itaybre commented on #24
This is definitely a bug, and I am still exploring on how to fix it.
Oddly enough, if the camera has set Exposure to Manual when you start CameraController, after you change it to Auto, sliders update automatically (if you have Read Settings enabled)
![image](https://user-images.githubusercontent.com/860036/139678324-eab86d74-09e6-41ea-9b21-003c4af0b411.png)

[2021-11-01 19:54] affrae commented on #15
Confirmed [1.3.1 Release](https://github.com/Itaybre/CameraController/releases/tag/1.3.1) binary working for me on Monterey.

[2021-11-01 19:57] Itaybre commented on #15
@olsw you can download build 1.3.1 from the release now

Unfortunately Github Sponsors is not available on my country and I did setup a Ko-fi site, but still haven't been able to give it some love.
I may add the sponsor link once I finish v2.0 with menu bar configuration

[2021-11-01 20:18] affrae commented on #15
Oh manh I forgot about that, sorry.

[2021-11-01 21:06] benblb commented on #22
Absolutely! https://imgur.com/a/E40KEVm

When the slider is all the way to the left, that is what the camera looks like without any modifications (i.e. default brightness).

[2021-11-12 22:37] mindlessroman opened #27 "Sliders, Dropdowns Disabled after Monterey Mac OS"
**Describe the bug**
I've tried a few times and restarted my computer and the software. I think updating to Monterey messes with the settings. Or something else, and the timing happened when I updated the OS to Monterey. None of the sliders or dropdowns are accessible regardless of tab (see screenshots). It's all greyed out/disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Be on OS 1

[2021-11-12 22:39] mindlessroman commented on #27
Closing because it's a duplicate. Downloading the fix.

[2021-11-12 22:39] #27 closed

[2021-11-16 04:09] zain opened #28 "Not working with Zoom"
**Describe the bug**
All settings get reset to default when Zoom tries to use the camera.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a profile in CameraController
2. Join a zoom call
3. Notice the settings you just set are gone.

**Desktop (please complete the following information):**
 - Version: Latest
 - Camera: Razer Kiyo

[2021-11-24 16:14] replete commented on #22
I am getting this with bug also with an Aukey 1080p HD webcam, which shows up as 'PC-LM1E'.

I increased the brightness via the slider, but moving the slider to the left results in no changes being applied - and there appears to be no way to reset this.

[2021-11-25 08:00] mcgregor94086 commented on #23
I am also looking for a CLI or API version that I can use to programmatically set parameters.  See my post here: https://apple.stackexchange.com/questions/431339/how-to-set-web-camera-properties-on-macos?noredirect=1#comment617894_431339.

Here is how I programmatically set these on Linux, but I don't know how to do the equivalent on MacOS.

#!/bin/bash
camera_id=$1
full_image_file_name=$2

v4l2-c

[2021-11-25 08:00] KindaNeatdoe opened #29 "App crashes upon camera connect"
**Describe the bug**
App closes when my webcam connects. I have a usb-c hub which doesn't really like my camera and it just disconnects randomly for a second and comes up again.

**To Reproduce**
Steps to reproduce the behavior:
1.  Open application
2. Connect another camera
3. Wait for camera to get detected
4. App crashes

**Expected behavior**
App window should show the default screen with no c

[2021-11-25 15:41] wookayin commented on #23
FYI: https://github.com/makenai/node-uvc-control is another alternative (works on Mac as well)

[2021-11-25 15:45] wookayin opened #30 "Feature request: UI should expose (editable) numbers"
Currently, all the settings are configurable via sliders, which do not provide an exact number.

<img src="https://user-images.githubusercontent.com/1009873/143470109-4e506592-c94e-42fe-885c-dfe66c36d721.png" width=600 />

**Feature request**: The UI should expose readouts of numbers (and preferably their valid ranges if space allows) and they should be editable to allow users to enter the values

[2021-11-26 10:58] geftactics commented on #23
oh nice!! After installing `uvcc` via `nvm`, I can now just do...
`uvcc set power_line_frequency 1`

[2021-12-13 22:32] mr-eshua opened #31 "Adding to Homebrew Cask apps collection"
Hello @Itaybre!

I would want to sincirely thank you for your App! Basically it gave new life to my Foscam W25 UVC webcam in MacOS 🙏

In return, I would like to propose adding it in [Homebrew Cask list](https://formulae.brew.sh/cask/) to be able to install it through `brew install --cask` command, of course, if you do not mind. A Cask script for that is completely on me :wink:

Cheers!

[2021-12-14 02:42] Itaybre commented on #31
I am glad you found CameraController useful.

It would be nice to be capable of installing with homebrew

[2021-12-16 01:16] mr-eshua commented on #31
The latest version `1.3.1` was added to [Homebrew Cask Drivers tap](https://github.com/Homebrew/homebrew-cask-drivers).

To install with Homebrew:
1. Add Drivers Tap first: `brew tap homebrew/cask-drivers` (does nothing if the tap was already added previously)
2. Use `brew install --cask cameracontroller` to install the app

I also took some liberty to update README with Homebrew installation info

[2021-12-21 03:45] rcrodrix commented on #29
I was able to reproduce the issue, as written by bug originator.
I was also able to find a temporary workaround.

Workaround:
With external camera unplugged:
Start application and select default system camera (in my case, FaceTime HD Camera)--verify this works.
Connect external camera (Kiyo Razer) and select it in dropdown.
Verify all app functions work with the external camera, as well as the def

[2021-12-30 00:27] Itaybre commented on #31
Thanks for adding this 💪

[2021-12-30 00:27] #31 closed

[2022-01-03 17:34] 4ndv commented on #15
Sadly, but for me it's still the same. Tested on 12.0.1, then updated to 12.1 but all the settings is still greyed out :(

[2022-01-03 22:58] affrae commented on #15
@4ndv what camera?

[2022-01-05 11:09] juliussohn opened #33 "HDR control for Razer Kiyo Pro"
Hey unfortunately the Razer Synapse Software to configure the webcam only works on windows. Camera Controller already covers most controls, but one key feature of the Razer Kiyo Pro cam is HDR, which would be awesome to have in camera controller

[2022-01-06 17:41] wookayin commented on #30
@Itaybre still yet?

[2022-01-10 19:30] bobbynj81 commented on #15
@affrae Everything is grayed out for me as well on Mac Monterey, M1 Mini with a Logitech Brio.

[2022-01-10 20:34] affrae commented on #15
Hi folks I'm just another user like y'all. I opened the issue here and since then the issue has been resolved for me. I can't help much here.

@Itaybre do yo want folks posting on this issue, or close this one off and get folks to open a new one?

[2022-01-10 23:54] Itaybre commented on #33
I would need to see the data sent to the device to see if I can replicate it.

Do you mind extracting it with this software: https://freeusbanalyzer.com

[2022-01-11 00:00] Itaybre commented on #33
I just found that HDR is part of the UVC protocol, I will take a look.
But since I cannot test it, I can't promise anything.
I will need the output from USB Prober, see this small guide: https://github.com/Itaybre/CameraController/issues/25#issuecomment-953162336

[2022-01-11 13:02] juliussohn commented on #33
Does this help?

<img width="798" alt="CleanShot 2022-01-11 at 14 01 51@2x" src="https://user-images.githubusercontent.com/4502656/148947209-6a83eda4-d3b9-40b8-87e6-2e914613d5ce.png">

Also here are the settings from the Windows Software
<img width="1659" alt="CleanShot 2022-01-11 at 13 42 58@2x" src="https://user-images.githubusercontent.com/4502656/148947236-0ee15983-f279-46e6-80d1-9a8caace0660.

[2022-01-11 13:55] Itaybre commented on #33
Yes, that work, but can you expand the "Controls Supported" in the VDC Input Terminal section?

[2022-01-11 14:14] juliussohn commented on #33
<img width="780" alt="CleanShot 2022-01-11 at 15 14 22@2x" src="https://user-images.githubusercontent.com/4502656/148958835-9daeda62-7847-4983-a638-faf3477676cc.png">

[2022-01-12 03:02] liorgrossman commented on #28
Same here, opening a Zoom call resets all settings.
I think it has to do with macOS Monterey. What version of macOS do you use, @zain ?

Related discussions:

- https://community.zoom.com/t5/Chat/Anybody-else-having-problem-with-Logitech-webcam-with-the-new/m-p/23460
- https://forums.macrumors.com/threads/macos-monterey-broke-my-usb-webcam.2320189/page-2

[2022-01-13 06:12] Benisprung opened #34 "I have the Monterey update for mac and the zoom option doesn't work with the razer kiyo. Any way that your team could fix this?"
Worked great until I downloaded OS 12 on my mac, now I can not find anything that works with the zoom for the Razer Kiyo. Everything else is still in tact and works smoothly. Any recommendations?

[2022-01-19 03:46] markbenliyan commented on #20
seconding this. Was it added? I don't see it yet

[2022-01-19 04:00] Itaybre commented on #33
I may have found some insight about how to control HDR and also FOV.

I will need help testing that, I couldn't find the camera at a reasonable price locally

[2022-01-19 10:56] juliussohn commented on #33
Sure, happy to test if you have a build!

[2022-01-19 14:55] Itaybre commented on #30
I just built a version with this, but I cannot test it because I don't have my webcam with me, do you mind giving it a test?

Double Tap the controller name to be able to edit it
[CameraController.zip](https://github.com/Itaybre/CameraController/files/7898073/CameraController.zip)

[2022-01-19 15:03] Itaybre commented on #19
I have created a build with this, do you mind testing it?

Double tap the controller name to enable the field
[CameraController.zip](https://github.com/Itaybre/CameraController/files/7898077/CameraController.zip)

[2022-01-19 15:04] Itaybre commented on #20
@markbenliyan webcam setting generally reset when you disconnect it
Have you tried doing that?

[2022-01-19 16:48] Itaybre commented on #30
@wookayin please use this one, that one didn't link the field with the camera
[CameraController.zip](https://github.com/Itaybre/CameraController/files/7898946/CameraController.zip)
values

[2022-01-19 18:22] Itaybre commented on #33
@juliussohn You should see a new section inside Advanced, for nor I just implemented setting HDR, please tell me if it works correctly

[CameraControllerRazer.zip](https://github.com/Itaybre/CameraController/files/7899597/CameraControllerRazer.zip)

[2022-01-19 21:37] Itaybre commented on #28
Enabling "Push Settings" inside Preferences, should allow you to keep using your setting inside Zoom.

You might need to disable "Read Settings" though

[2022-01-20 00:12] wookayin commented on #30
@Itaybre Are you sure this is the correct build? The UI hasn't changed.

[2022-01-20 00:13] wookayin commented on #30
Oh I see, when you double click it toggles between slider and textbox. Personally I don't feel this is an intuitive design. Why don't you put the input box next to the sliders so they can be shown at the same time? IMO there is no need to toggle...

[2022-01-20 00:35] Itaybre commented on #30
@wookayin I wouldn't consider it final, but I don't want to clutter the interface with too many buttons.

I am open to options, like enabling this from preferences

[2022-01-21 09:31] juliussohn commented on #33
I cant see an HDR setting. Am I missing something?
![CleanShot 2022-01-21 at 10 30 26@2x](https://user-images.githubusercontent.com/4502656/150502522-1bb75678-80fc-4295-b9da-5f07e342a27d.png)

[2022-01-21 13:00] Itaybre commented on #33
@juliussohn Seems like I used an incorrect value for productId and vendorId (to recognize the camera).
Do you mind sharing the values from USB Prober?
They should be at the top when selecting the camera

[2022-01-21 15:03] juliussohn commented on #33
Still nothing showing up

[2022-01-22 01:32] Itaybre commented on #33
@juliussohn found the issue, it should appear now
[CameraController.zip](https://github.com/Itaybre/CameraController/files/7917382/CameraController.zip)

[2022-01-25 10:25] juliussohn commented on #33
@Itaybre  The toggle is there, but it doesn't seem to change the HDR setting

[2022-01-26 13:57] Michael-Bischof commented on #34
@Benisprung Works fine with my Razer Kiyo when using Camera Controller 1.3.1 on macOS Montery 12.1 (21C52)

Maybe try removing Camera Controller and downloading it fresh?

[2022-01-26 20:28] #6 closed

[2022-01-26 20:28] #9 closed

[2022-01-26 20:28] #24 closed

[2022-01-26 20:28] #22 closed

[2022-01-26 20:28] #23 closed

[2022-01-27 18:28] Corbot5000 commented on #33
I can confirm that turning HDR on and off doesn't change anything. It's worth noting that the Kiyo Pro only supports HDR at 30 FPS - could this be why it isn't working correctly? Is there any way to manually adjust the cameras to 30 FPS within CameraConttoller?

Happy to do what I can to test this functionality.

[2022-01-27 18:31] Itaybre commented on #33
@Corbot5000 I didn't know about the 30FPS rule.
I would need recordings made with [Wireshark](https://www.wireshark.org), toggling the FPS up and down.
And probably more recordings of enabling and disabling HDR.

I don't have such camera to test it myself, and it isn't even sold locally

[2022-01-27 21:37] Corbot5000 commented on #33
@Itaybre I have wireshark installed and the window's camera app lets me toggle between "hdr pro" and "hdr off" when I take photos. If you could give me a little more guidance on how to analyze the Kiyo pro in Wireshark, I'd be happy to do it. I can be reached on Discord at Corbot8000#8015

[2022-01-27 21:48] Corbot5000 commented on #33
@Itaybre attached are two wireshark logs -
1) KiyoProHDRProOn.pcapng - HDR Pro already turned on, a few photos taken, video recorded
2) KiyoProHDROff.pcapng - Turned HDR Pro off, photos taken, video recorded, HDR Pro turned back on

https://drive.google.com/file/d/1b6Jehiyer1171aHhA1ePDN-09gIP-Iyk/view?usp=sharing

[2022-01-27 22:59] Itaybre commented on #33
@Corbot5000 can you do the recording as short as possible? Like just pressing the toggle in the app and wait a couple seconds doing nothing
seeing too many rows doesn't help me find the correct ones

[2022-01-28 03:36] Corbot5000 commented on #33
@Itaybre Here's the smallest recording I could do of HDR Pro being turned on and off.

https://drive.google.com/file/d/1jLbzS2a_tifFFbSZsh2uj9qDH58_bwqf/view?usp=sharing

[2022-01-29 14:47] stffffn opened #38 "Settings are not persistent"
**Describe the bug**
The applied camera profile settings are lost across different apps/websites. The settings are only persistent for one app/website and will be reset if you open another app/website.
Tested with Photo Booth, Discord and Google Meet.

Another question: Is CameraController meant to be run minimzed in the background? Otherwise I'm not able to achieve persistent settings.

**To Repr

[2022-02-01 12:07] imacnu opened #39 "Enable mirror/flip option"
Please add an option to mirror or flip camera image (basically to Google Meet)

Mac OSX 15
Logitech BC950

Thanks.

[2022-02-02 12:50] robooneus opened #40 "Exposure Time Input not working - Razer Kiyo"
**Describe the bug**
Switching from Auto to Manual in the exposure settings - the first change to the exposure time setting darkens the image significantly, then further changes have no effect whatsoever. This leads to, with max Gain and max exposure time, an image significantly darker than needed.

**Desktop (please complete the following information):**
 - Version 1.3.1 (6)
 - Camera - Razer Kiy

[2022-02-02 16:00] carlosnasillo commented on #40
Experiencing the same with the Razer Kiyo Pro

[2022-02-02 16:03] carlosnasillo commented on #33
Have a Razer Kiyo Pro myself (on Mac M1), and happy to help debug or provide test data as required.

[2022-02-04 23:31] alonpr opened #41 "Read/Push Settings"
How taxing on the resources is reading and pushing camera settings, any chance it might cause any lag, frame rate drop or stutter and any specific reason why the highest value is 2 seconds and there is no custom option?

[2022-02-07 19:38] rpetty commented on #29
Followed the workaround instructions above (Mac OS 12.2). Verified FaceTime HD Cam is working.  Plug in Caldigit TS3+ with external camera, Logitech Brio 4k and app crashes.  Happy to provide additional debug information.

[2022-02-08 02:41] Scybe1 opened #42 "Programm Crash when started"
Hey together- I am new here. i was searching for absolutely the programm you coded. Problem is, just the version 1.2 is working. higher ones does not work. I am Using MAC OS 10.15.7 on a Macbook Pro 2013 16 GB.

Is there something i could change to run the programm ?

Thank you very much !!
[Crash Report1.3.1.txt](https://github.com/Itaybre/CameraController/files/8020272/Crash.Report1.3.1.txt)

[2022-02-09 11:16] wojstu opened #43 "Zoom/Pan/Tilt not working with Aukey LM1E Camera"
**Describe the bug**
Hi 👋

@Itaybre thank you so much for such a great app, it's really awesome to use 🍻  I've noticed that Zoom/Pan/Tilt is not working for my camera though, it would be really great to have it for such popular cheap model as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced settings
2. Click on Zoom, Pan or Tilt slider
3. Nothing happens

**Expected behav

[2022-02-09 15:54] qu-jieniu opened #44 "Change of Brightness and Contrast Not Working on Monterey 12.2"
**Describe the bug**
Change of Brightness and Contrast not working on Monterey 12.2.
Zoom/Tilt/Sharpness/Saturation works though.

**To Reproduce**
1. Go to 'Basic'
2. Drag on the Brightness/Contrast adjustment bar
4. See error

**Expected behavior**
The brightness and contrast changes when dragging the adjust bar.

**Screenshots**
Before and after change - no effect.
![Screen Shot 2022-02-09 at 1

[2022-02-11 08:18] totollo opened #45 "bug when switching camera"
switching camera does not work. Camera video changed but when modify parameters, it only affect the first camera.

Steps to reproduce the behavior:
1. select camera 1 (not the built-in one)
2. change exposure (no effect)
3. select camera 2 (exposure affect here)
4. change exposure (camera 2 effect)

It looks like parameters can only change the fixed camera.

[2022-02-15 22:03] rossproduct opened #46 "App hangs at 100% CPU with HT-301 plugged in"
Brand: Hti-Xintai
Camera: HT-301

I am on an M1 MBP. This occurs with all USB ports whether or not I use a USB hub. The hang occurs whether I plug the camera in before booting CameraController or wait until it's running.

It is my extremely limited understanding that this camera's UVC stream includes metadata the officially-supported app uses to colorize based on relative intensity, which may be a

[2022-02-17 15:01] Zandalus opened #47 "Not working with multiple camera of the same model"
I've attached multiple Logitech C920 and I can't change their parameters properly.

If only one of them is attached everything works properly, but as soon as I attach both it stops working (one of the two doesn't change his parameter anymore).

[2022-02-17 20:08] lupus2k commented on #33
Razer Kiyo Pro and Mac M1 Max user here, let me know how can I help testing.

[2022-02-19 22:28] qu-jieniu commented on #44
Updating to macOS 12.2.1 seems to resolve the issue.

[2022-02-19 22:28] #44 closed

[2022-02-22 13:03] davidindub opened #48 "Add rotate image"
Excellent job with the app - I've been looking for something to replace the Logi software for my camera, it still isn't M1 compatible and I have a shiny new MacBook on the way!

Unfortunately the Logitech Streamcam doesn't auto rotate to portrait on macOS despite it being one of its main advertised features, so the ability to rotate the picture would be really useful.

See: [Reddit - Streamcam aut

[2022-02-23 01:07] Itaybre commented on #48
This doesn't seem to be part of the USB Standard, probably Logitech is doing something on Windows for that feature (doesn't seem to be working on Linux either)

[2022-02-23 01:07] #48 closed

[2022-02-23 01:09] Itaybre commented on #47
Both cameras have the same model and name?
It is possible that the USB lookup is not working for the second camera in that case

[2022-02-23 04:33] markbenliyan commented on #20
Yes, I tried doing that and still stuck w the changes 1 month later. Honestly really disappointed not sure how to reset to default.

[2022-02-23 21:43] authorfunction commented on #33
Hi, ordered a Razer Kiyo Pro recently and will be happy to help with testing as soon as it arrives.

[2022-02-24 08:32] sebasinparis opened #49 "."
Issue solved. Please delete

[2022-02-26 03:53] #49 closed

[2022-03-01 18:44] jonwest commented on #38
Same behaviour here

[2022-03-08 10:54] ptoharia opened #50 "Logitech Brio - Focus not working"
Please enter the following data:

Brand: Logitech
Camera: BRIO
Have you tried many USB ports? Yes

The camera works, but the image is unfocused and the focus control does not change anything.

[2022-03-12 19:07] #19 closed

[2022-03-13 00:36] #28 closed

[2022-03-13 00:36] #2 closed

[2022-03-13 01:36] #30 closed

[2022-03-13 01:37] wookayin commented on #30
@Itaybre could you please this re-open unless you really don't want to not implement this? (Personally I don't like stalebot keep closing the issues..)

[2022-03-19 17:22] #34 closed

[2022-03-25 12:56] #39 closed

[2022-03-25 23:21] atchinson opened #51 "OBS Studio Virtual Camera"
Please enter the following data:

Brand: OBS Studio Virtual Camera
Camera:
Have you tried many USB ports? Virtual....

2022-03-25 18:08:38.833370-0500 CameraController[2004:54153] Error loading /Library/CoreMediaIO/Plug-Ins/DAL/obs-mac-virtualcam.plugin/Contents/MacOS/obs-mac-virtualcam:  dlopen(/Library/CoreMediaIO/Plug-Ins/DAL/obs-mac-virtualcam.plugin/Contents/MacOS/obs-mac-virtualcam

I don't

[2022-03-25 23:44] atchinson opened #52 "C922 Pro - Zoom Issue?"
Please enter the following data:

Brand: Logitech
Camera: C922
Have you tried many USB ports? Many

The camera works. All the setting work. The issue I possibly see is with the Zoom. I didn't seem to zoom as far as I had seen on a Windows PC. I put some extra GUI stuff on the Advanced tab to actually show the Zoom min and max, what the program goes and gets from the camera. I also put a 3rd text o

[2022-03-26 17:45] #40 closed

[2022-03-29 00:32] #41 closed

[2022-03-29 20:26] soyersoyer commented on #33
You can find some working code to set the Kiyo Pro custom controls: https://github.com/soyersoyer/kiyoproctrls

[2022-03-29 21:35] authorfunction commented on #33
I tried the code @soyersoyer provided, but there's no /dev/video0 or any other obvious video devices in the /dev directory. The camera is on and working (I tried with it off as well). I am on Monterey (Apple Silicon).

[2022-03-30 17:09] FezVrasta opened #53 "GoPro Hero 10 not recognized"
Please enter the following data:

Brand: GoPro
Camera: Hero 10
Have you tried many USB ports? Yes

[2022-03-31 07:41] joekw commented on #42
I'm seeing this too. Looks like `uvcUnit` is set to -1.

[2022-03-31 20:47] #29 closed

[2022-04-01 02:29] Itaybre commented on #53
CameraController requires the camera to comply to UVC Standard.
I don't really know if the GoPro meets the criteria, for example, can you use it for FaceTime / Photo Booth? 

[2022-04-01 02:31] Itaybre commented on #52
Sometimes Zoom depends on the video resolution, decreasing it allows to use more zoom.
I never added an option in the app because usually you will want to do that from the Main App you are using the camera

Can you confirm if decreasing the resolution you are able to have more zoom?

[2022-04-01 02:32] Itaybre commented on #51
This probably happens because the Virtual camera does not have the USB endpoints

[2022-04-01 02:32] #51 closed

[2022-04-01 02:48] atchinson commented on #51
Decreasing what / which resolution? The Mac's desktop native resolution or the camera resolution?

[2022-04-01 03:03] atchinson commented on #52
In my system preferences for display, I tried Default for Displayed and Scaled with different resolutions.

The same zoom issue occurs.

[2022-04-01 03:05] atchinson commented on #51
Is there way to test for that negative number or a virtual camera and skip it from detection / loading / probing for it's settings?

[2022-04-01 03:09] atchinson commented on #42
Do you have OBS Studio installed on your Mac or some other virtual non usb camera? Sometimes the app works, most of the time it crashes complaining about a negative number.

My other Mac without OBS seems to work fine.

[2022-04-01 03:23] atchinson commented on #52
I install logitech's Ghub app. I allows you to zoom from 100% to 500%. When I added the text values to the app I could see min at 100 and max at 500. But the slider stops at about 120 before it stops zooming.

[2022-04-01 10:41] FezVrasta commented on #53
Thanks for the answer. No I can't used it with Photo Boot or FaceTime, I can use it with any browser, Zoom, and other apps though.

[2022-04-02 18:01] #43 closed

[2022-04-04 09:28] #45 closed

[2022-04-05 12:28] renaudguerin opened #54 "Zooming functionality ?"
Hi,

Great app !
I've just installed it and Zoom/Pan/Tilt is greyed out.
I wonder if this is a purely hardware implemented feature (no chance it will ever work if my webcam doesn't have it) ?

Thanks

Brand:  Jelly Comb
USB info :
FHD Camera Microphone
  Product ID:	0x28c4
  Vendor ID:	0x1bcf  (Sunplus Innovation Technology Inc.)

[2022-04-05 22:22] Itaybre commented on #54
If it is greyed out, it means that your camera doesn't support it, or at least not using the standard UVC protocol

[2022-04-05 22:22] #54 closed

[2022-04-09 00:11] #46 closed

[2022-04-13 10:10] RobertoMinelli opened #55 "Zoom/pan/tilt options are grayed out with AUKEY PC-LM1E"
Dear @Itaybre, zoom/pan/tilt functions are not available with my [AUKEY PC-LM1E](https://www.aukey.com/products/aukey-overview-full-hd-video-1080p-webcam) (see screenshot). I already tried multiple USB ports. Can you please help me?

Best,
Roberto

<img width="435" alt="Screen Shot 2022-04-13 at 12 08 59" src="https://user-images.githubusercontent.com/6087804/163155681-41c53926-ba25-4334-a69f-487b

[2022-04-13 17:16] Itaybre commented on #55
If it is disabled it means, that these actions are not supported.
Not all cameras support all operations.

You can check which options are supported using the app here: https://github.com/Itaybre/CameraController/issues/3#issuecomment-671698003

[2022-04-13 17:16] #55 closed

[2022-04-13 22:44] kiran-vemuri opened #56 "Can't control Zoom/Pan/Tilt for Lenovo FHD Webcam"
I'm running on M1 Mac mini with a USB webcam (Lenovo 300 FHD Webcam)
![Screenshot 2022-04-14 at 4 12 13 AM](https://user-images.githubusercontent.com/1210749/163281989-4f88a56b-f42d-4a81-a989-11aa608d5f60.png)

[2022-04-16 14:55] #47 closed

[2022-04-16 20:03] wookayin commented on #20
The stalebot is so great, It helps kills issues and feature requests.

[2022-04-16 20:48] Itaybre commented on #20
This is an open source project, anyone can make suggestions, requests features and PRs.
Unfortunately I don't have the bandwidth to work on every enhancement or issue.

I will add `enhancement` tag to the exempted list so they dont get closed in the future

[2022-04-16 20:51] Itaybre commented on #56
If it is disabled it means, that these actions are not supported.
Not all cameras support all operations.

You can check which options are supported using the app here: https://github.com/Itaybre/CameraController/issues/3#issuecomment-671698003

[2022-04-16 20:51] #56 closed

[2022-04-28 23:25] jazzychad commented on #42
I have opened a PR for this issue: https://github.com/Itaybre/CameraController/pull/57

[2022-05-02 18:39] Greenysmac opened #58 "Request: Load a LUT/Lookup table"
Simple as that. I'd kill to load a LUT conversion into the camera.

TONS of LUTs out there, but I specifically want to calibrate my camera using a LUT I generate.

[2022-05-04 19:07] jazzychad opened #59 "Multiple cameras with same vendor/product id aren't disambiguated"
**Describe the bug**
If you have two or more cameras with the same product and vendor id plugged into the USB host/bus, changing the slider values after choosing a camera may instead change the value for the _other_ camera with the same vendor/product id.

**To Reproduce**
Steps to reproduce the behavior:
1. Plug in multiple cameras with the same USB product and vendor ids2.
2. See them in the dro

[2022-05-04 22:19] jazzychad commented on #59
I have opened a PR for this issue: https://github.com/Itaybre/CameraController/pull/60

[2022-05-05 00:56] jazzychad commented on #42
This can probably be closed now? (unless you want to cut another release first?)

[2022-05-05 19:22] Itaybre commented on #42
You are right, closing it now

[2022-05-05 19:22] #42 closed

[2022-05-05 19:32] #59 closed

[2022-05-06 01:15] jazzychad opened #61 "1.4.0 Release missing app zip in assets?"
Looks like the 1.4.0 Release assets are missing the `CameraController.zip` that appear in the other release assets?

[2022-05-06 01:33] Itaybre commented on #61
Damn, I built it, notarized but forgot to upload in the release

Added it now

[2022-05-06 01:33] #61 closed

[2022-05-07 18:27] Itaybre commented on #50
@ptoharia does the focus change when autofocus is enabled / disabled?

[2022-05-07 18:33] ptoharia commented on #50
No, it does not change.
Regards
Pablo
El 7 may 2022, 20:28 +0200, Itay Brenner ***@***.***>, escribió:

[2022-05-13 07:00] jaketame commented on #33
I have a Kiyo Pro now and would be happy to test

[2022-05-18 07:58] michael01215 opened #62 "Rapoo C500"
Please enter the following data:

Brand: Rapoo
Camera: C500
Have you tried many USB ports? Yes

I can't seem to make my camera work with this software. Is there a way to get it working?

[2022-05-18 12:51] Itaybre commented on #62
You get all the options disabled or it doesn't respond to the changes?

[2022-05-18 21:19] syzmekk commented on #29
Same here - MBP 2021 16" M1 Pro with the Desptech camera.

[2022-05-19 04:05] michael01215 commented on #62
It started as all options disabled, then it worked a bit, then wouldn’t
respond to the changes. It gets working again when I unplug and select
“auto.” Zoom/focus/tilt are disabled too. Is there a way to get it working?

On Wed, May 18, 2022 at 20:52, Itay Brenner ***@***.***>
wrote:

--

*Michael S. Dizon*
W: www.thelostjuan.com
E: ***@***.***
T: +63 908 818 0448

[2022-05-19 19:14] mkinkopf opened #63 "Software hangs with offbrand camera plugged in"
**Describe the bug**
My workplace had an extra USB camera lying around that was given to me. I am Running Monterey 12.1 and the software fails to open and instead hangs/locks up and has to be force quit with the unknown camera plugged in. I understand this is a cheap random camera so please feel free to close out this bug report if that is the reason the software hangs.

**To Reproduce**
Steps to

[2022-05-19 19:17] mkinkopf commented on #63
You know what, I am pretty sure the camera is locking up in every application now. This is more likely just an error with this cheap camera. Apologies for bringing this up.

[2022-05-19 19:17] #63 closed

[2022-05-22 08:07] mattheworiordan commented on #33
I would be happy to test too 👍

[2022-05-23 10:34] Rawnly opened #64 "Doesn't open on M1 Pro"
**Describe the bug**
Doesn't open. it "quits unexpectedly"

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app

[Here a crash log](https://pastebin.com/sPuv5KWg) (pastebin password is: `camera controller`)

**Expected behavior**
Open the app

**Screenshots**
![CleanShot 2022-05-23 at 12 32 13](https://user-images.githubusercontent.com/16429579/169800737-047f6d1e-67df-44f9-b0d9-bfd57

[2022-05-23 12:36] superevr commented on #50
autofocus works just fine with my brio, so the cause could be something else.

[2022-05-23 19:24] jazzychad commented on #64
This was fixed by edb2d4fdb3cb2547d2cfcfdc9d3b3d9dd4dc7fc2
https://github.com/Itaybre/CameraController/commit/edb2d4fdb3cb2547d2cfcfdc9d3b3d9dd4dc7fc2

It is available in the latest 1.4.0 release: https://github.com/Itaybre/CameraController/releases/tag/v1.4.0

[2022-05-23 19:26] Rawnly commented on #64
Ok thanks! You might need to update the homebrew release too (i installed it this morning and i got the 1.3.1!)

[2022-05-23 19:26] #64 closed

[2022-05-23 19:28] jazzychad commented on #64
aha.. might need to file a separate issue for that!

[2022-05-23 19:30] Rawnly opened #65 "Update `homebrew` release"
**Describe the bug**
I tried to install the app via `homebrew` but I didn't got the latest version.

**To Reproduce**
[code]

**Expected behavior**
To get the latest release installed

[2022-05-24 06:54] homurahomu1 opened #66 "None of the Controls work on M1 MacBook"
Hey, I think this app is really nice, but I recently downloaded it on my M1 MacBook Pro(14") to tweak some of the camera settings and nothing works. The preview shows, but none of the controls work at all. If someone could fix this I would be very grateful
<img width="562" alt="Screen Shot 2022-05-24 at 4 53 42 pm" src="https://user-images.githubusercontent.com/69967456/169967412-fcd8b230-f73b-43e

[2022-05-25 02:23] jazzychad commented on #66
AFAIK, this app does not work with the FaceTime camera, but only with other UVC-compatible USB webcams attached to the computer.

[2022-05-25 20:07] Itaybre commented on #66
It is as @jazzychad said, apple doesn't allow communication with the FaceTime Camera without special entitlements.
This is why CameraController cannot change settings for it

[2022-05-25 20:07] #66 closed

[2022-05-25 22:43] Itaybre commented on #65
Just sent a PR to `homebrew` to update it

[2022-05-26 02:31] Itaybre commented on #65
It has been merged, you can download v1.4.0.
I will take a note to remember updating the cask when releasing a new version

[2022-05-26 02:31] #65 closed

[2022-06-03 14:23] jahirfiquitiva opened #67 "Request: Hide at login"
Hello

I wanted to ask if you could add an option to start the app but hidden, because every time I turn my laptop on, the app window appears.

Thanks in advance!

[2022-06-07 20:07] emcniece commented on #38
Same here 👍

[2022-06-09 21:13] JensRoland commented on #38
Is there really not a way to configure this in the tool now? I use Google Meet for work and since every meeting is a new Chrome tab, the settings aren't persisted. Reapplying before every call I have is not sustainable for me, so persistent settings is really a must for me.

Then again, it's a free tool and it does a great job when it's active, and beggars can't be choosers.

[2022-06-22 12:20] made-in-the-dm opened #68 "FaceTime Camera, 2017 iMac"
I am aware that the FAQ's say Macs with T1 and T2 chips are not compatible with CameraController. However, my iMac is from 2017 and predates Apple silicon (as far as I'm aware). The System Information app doesn't list anything under 'Controller,' which should mean (as far as I'm aware) there is no T1 or T2 chip in my Mac, and the FaceTime camera's Model ID says it's UVC. Still, all the camera sett

[2022-06-30 08:42] onlyway opened #69 "Problems with manual exposure and gain for Logitech c920"
**Describe the bug**
For Logitech c920 I have problem. Auto exposure settings are overexposing image, I'm trying to use manual one. But event setting gain and exposure to 0 makes screen almost white on camera.

**Expected behavior**
Exposure and gain settings should give ability to configure image properly.

**Desktop (please complete the following information):**
 - OSX 12.4
 - Camera Logitech C9

[2022-07-06 16:40] michaelbaisch commented on #47
I would like to reopen this, since I have the same problem, with two identical Webcams.

I did a bit of digging and the problem seems to be the [getIOService()](https://github.com/Itaybre/CameraController/blob/master/CameraController/UVC/Extensions/AVCaptureDevice+USB.swift#L33) method, for both cameras the same number is returned. I looked into the properties from `IORegistryEntryCreateCFProperti

[2022-07-14 14:05] Zeitkind commented on #69
I have a similar problem with a Microsoft LifeCam Studio. Auto exposure gives an kinda usable picture, manual is either black (exposure 0) or overexposed as soon as I try to move the slider, it's like slider position left is 0%, position anywhere else is 150% and no change at all.
MacOS 10.15 (Catalina)

[2022-07-17 19:29] michaelbaisch opened #70 "Not working with multiple camera of the same model (2)"
**Describe the bug**
Can't control 2 cameras of the same model. They work individually but when both are attached the controls on both cameras control only a single camera. Similar to #47.

**Additional context**

I did a bit of digging and the problem seems to be the [getIOService()](https://github.com/Itaybre/CameraController/blob/master/CameraController/UVC/Extensions/AVCaptureDevice+USB.swift#

[2022-07-24 01:56] DamianoP opened #71 "The webcam resolution cannot be adjusted"
You cannot adjust the webcam resolution (es 1280x720 or 1920x1080, etc. )

This function could be useful for a future update, I think it would be very useful

[2022-08-15 12:38] mattheworiordan opened #72 "Sponsorship to move this project forwward"
This is a great utility and I'd like to say thanks for building this app, I used it every day.

However, I see the project has seemed to have stalled with some open PRs and numerous issues.

Would you consider getting paid to further this project?  Would something like [Github Sponsors](https://github.com/sponsors) be worth looking at so that we can contribute to moving this project forward?

[2022-08-15 13:43] Itaybre commented on #72
This year I have been very busy with my thesis so I have neglected a little bit this project.
Fortunately next month I will be completing it, so I will have more free time.

Regarding GitHub Sponsors, I have been recently [accepted](https://github.com/sponsors/Itaybre) but since I didn't change anything in the project, I haven't added it to the repo.

[2022-08-17 11:45] pouya-0098 commented on #71
I have an update request
DICA!!! ATIVANDO (FIX) WEBCAM NO MACOS MONTEREY HACKINTOSH!!! CONFERE!!!!

[https://www.youtube.com/watch?v=ee_IXatigZg](url)

MACOS MONTEREY set default change the resolution profile at login

To set up webcams of old systems

[2022-08-17 11:53] pouya-0098 commented on #71
I have an update request
DICA!!! ATIVANDO (FIX) WEBCAM NO MACOS MONTEREY HACKINTOSH!!! CONFERE!!!!

[https://www.youtube.com/watch?v=ee_IXatigZg](url)

MACOS MONTEREY set default change the resolution profile at login

To set up webcams of old systems

[2022-08-17 15:26] k8seren opened #73 "Question about intended use, "open at login" and "read"/"push" settings"
Hello! Apologies for a newb question. This software is super helpful for using my Razer Kiyo cameras with macOS.
Is this program meant to be open at all times, i.e. run at login and always on?
What is the function of the Read / Push settings under Advanced, and is it recommended these are enabled, or no?

I'm not familiar with what many of the options actually *do* but messing with the sliders is

[2022-08-25 10:15] Nodman opened #74 "Insta 360 One R (1" mod) controls are not accessible"
Please enter the following data:

Brand: Insta 360
Camera: One R (1" mod)
Have you tried many USB ports? Yes

Hi, basically preview is shown but no controls are available :(

_| +-o Insta360 One R@02100000  <class IOUSBHostDevice, id 0x1003007ce, registered, matched, active, busy 0 (21 ms), retain 37>
  |     {
  |       "sessionID" = 23999771036159
  |       "USBSpeed" = 3
  |       "idProduct" =

[2022-08-30 06:09] anilgiri commented on #74
Same issue for Microsoft Lifecam. All the controls are disabled.

[2022-08-30 17:48] TheBoroer commented on #73
+1

I'm wondering the same thing

[2022-09-06 06:35] antonmil opened #75 "Profile Location"
More of a question than an issue, really. I'm wondering where I can find the file that's saved to disk as a profile. I'm asking because I want to transfer it to a different machine to work with the same camera and settings. Perhaps one could give the user a hint on the UI about that.

[2022-09-13 00:38] Itaybre commented on #75
Sorry for the delay, profiles are saved with the UserDefaults class.
The data is stored at `~/Library/Containers/com.itaysoft.CameraController/Data/Library/Preferences/com.itaysoft.CameraController.plist`

I will add a feature to export and import profiles in a future version

[2022-09-13 00:38] #75 closed

[2022-09-13 00:39] Itaybre opened #76 "Import / Export Profiles"
As mentioned in #75, users may want to export a profile

[2022-10-07 13:35] JayFoxRox opened #78 "Display current slider values (UVC values)"
I'd like to reproduce the work in https://ciko.io/posts/cheap_usb_hdmi/ and https://ciko.io/posts/cheap_usb_hdmi_2/

However, while CameraController can change my capture device settings (although I don't have the "hue" parameter?), I have no way of seeing the current values (= reproducing the values by someone else).
This makes it extremly difficult to reproduce the results (or even to experiment

[2022-10-08 04:20] Itaybre commented on #78
This feature was implemented in this PR: https://github.com/Itaybre/CameraController/pull/35/files#diff-3fc0120903ade031e9cf8976e371da4027e69a9130fa517589c417f0c6c15c05
You can press the name of the button to enable / disable manual input.

I didn't add HUE control because most cameras don't support it, can't say I considered video capture cards when building this.
But adding support for it should

[2022-10-11 06:52] Alvazz opened #79 "Feature suggestion"
Sir, Can you add a function to set the camera resolution? This function is very useful! Very good app, Thanks!

[2022-10-11 11:50] Sid110307 opened #80 "Test error: No signing certificate "Mac Development" found"

[2022-10-11 22:32] mrwizzer opened #81 "All Options Are Greyed Out"
This looks promising, but all the options are greyed out for me under both the Basic and Advanced tabs.  (Brightness, Contrast, Zoom, Tilt, etc.)

I'm using a Razer Kiyo as well as the built-in cameras on a 2-year-old iMac Pro running Catalina and a brand new MacBook Pro running Monterey, same results on both.

Thanks for any tips on getting this up and running.

-Mike

[2022-10-11 22:49] Itaybre commented on #81
It is normal for built-in cameras to not work, since apple doesn't allow apps to communicate directly with them.

But the razer camera should work fine, this happens on both computers?

[2022-10-11 22:59] mrwizzer commented on #81
I stand corrected, it apparently works fine on the Razer on the iMac Pro, but not on the new MacBook Pro.  Is it because the MacBook Pro has an M1 chip?

Am I out of luck on the MacBook Pro?

Thanks for the prompt response!

-Mike

[2022-10-11 23:50] Itaybre commented on #81
That's odd, it should work fine.

[2022-10-15 14:45] Alvazz commented on #79
Sir,
I don't understand technology, and I don't know if this feature suggestion I put forward is very difficult to implement with technology. If the workload is not large, or the development difficulty is not high, it is strongly recommended to implement this function as soon as possible, because your This App is the best I have found to use. Unfortunately, there is no function to set the camera r

[2022-10-18 22:29] DohMoose commented on #81
I'm on an M1 Mac with a Kiyo. I just restarted the app and everything was enabled!

[2022-10-22 22:26] jmhodges commented on #73
Yeah, is there some way to turn off it running at boot? It's not listed in my login items but still manages to get booted on login.

[2022-10-26 10:20] strongface99 commented on #81
Hi, I am having the greyed out issue, but only on Zoom/Pan/Tilt. This is really what I am hoping to have as my camera has a very wide FOV which doesn't look great.

I have a Lenovo Essential FHD Webcam, connected to an M1 Mac Mini.

Thanks

[2022-11-04 19:12] dezerving commented on #81
I was able to get this to work by doing the following (not sure which one triggered it to ungrey everything):
- Gave CameraController "Full Disk Access" permissions
- Went to Control Center and made sure portrait effect wasn't on for the camera
- Restarted the app multiple times

I'm on a M1 MacBook Pro.

[2022-11-07 11:45] joekw commented on #81
It's weird, I get all the expected controls for my Kiyo Pro while running the last built release, but when running directly from Xcode, all the controls are greyed out.

It looks like it's failing to create the USBDevice. In AVCaptureDevice.usbDevice(), the interfaceRef is always nil.

[2022-11-07 12:52] sonotley opened #82 "Request: Exposure compensation"
A very useful feature would be exposure compensation as exists on most enthusiast still and video cameras.

The way this works if it just offsets the automatically calculated exposure by some amount, so an exposure compensation of +1 exposes 1 stop (in photography terms, the units aren't really important) more than the automatically calculated level.

This would be useful in situations where a bri

[2022-11-14 03:04] proactivematter opened #83 "Feature Suggestion : Show as Virtual Camera"
Hello,

I have a specific usecase for which I require to route a camera through a lightweight virtual camera so that it may output to another program. I wonder if this is something that would be up for consideration? If not, is there another app that would be suitable? Again all I need is to be able to select a camera source and have it be converted into a virtual camera.

Asides from this, though

[2022-11-14 09:10] jturnbull commented on #83
You can use [OBS](https://obsproject.com) for that (and much more)

[2022-11-14 15:04] proactivematter commented on #83
Hah. Sorry, my bad, I should probably have included this detail - the program I will be routing the virtual camera to is OBS.

I'll just go ahead and explain the whole situation, for anyone who may be curious.

OBS 28 + MacOS Ventura allows for use of Continuity Camera (using iPhone as camera, streamed to the Mac). Issue is that when you add the iPhone as a Source in OBS, the iPhone becomes locked

[2022-11-22 20:22] benmosher commented on #38
FWIW, in my case I have a Razer Kiyo X and it seems to be that Google Meet (in Chrome or Safari) and Discord negotiate for the 720p 60fps mode, whereas Photo Booth and Zoom both seem to use the full HD 1080p mode.

I did some digging and it appears that the AVFoundation classes allow applications to choose one of potentially many preset configurations and I suspect it's this action that dislodges

[2022-11-22 20:25] benmosher commented on #38
FWIW this SO answer captures most of what I have been able to dig up so far: https://stackoverflow.com/a/40097057/344143

If anything, it suggests that maybe running CameraController in the background with the configuration locked and no capture running might be an option. _maybe_. 🤞

[2022-11-24 23:36] emilycestmoi opened #84 "App hangs with 100% cpu usage with my digital microscope webcam"
Version: 1.4.0
MacOS: 11.7

Hi! Just gave this a try and it starts fine without my digital microscope webcam connected (aliexpress generic). As soon as I connect my microscope the app will hang with 100% cpu usage when it's already started OR if I start the app after connecting the camera. The only way to get the app to run is if I disconnect my microscope webcam.

I noticed elsewhere you requeste

[2022-11-27 22:59] sadiqkhoja opened #85 "Zoom Pan Tilt not working for Microsoft Modern WebCam"
I am trying to set Zoom, Pan and Tilt for "Microsoft Modern Webcam" on MacBook Air M2, I can move the slider but nothing happens, I am attaching UBS Bus Probe here:

[USB Bus Probe.txt](https://github.com/Itaybre/CameraController/files/10099378/USB.Bus.Probe.txt)

![Untitled](https://user-images.githubusercontent.com/447837/204164229-fb8a87b0-7f3f-4d2b-b20b-83c6cde2cb6e.jpg)

[2022-11-29 13:38] neveronawednesday opened #86 "High pitched buzzing after macOS update"
Updated MacBook Air (M2 chip) to macOS Ventura 13.0.1 today,  now getting a high-pitched buzzing sound coming from my Razer Kiyo when using CameraController.

I have deleted and reinstalled the app, and restarted my mac - the sound is still there.
When I just use the Kiyo by itself with CameraController uninstalled, I don't get the high-pitched buzzing sound.